<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WonderPushDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1B8509919DC05FE00D1B6FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B850B219DC05FF00D1B6FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1E3E05E19E4237A00A4EE09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1E3E06819E4237A00A4EE09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
